.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  background: linear-gradient(to bottom right, #f8fcff, #eef7fa);
}

.home-title {
  font-size: 2.2rem;
  font-weight: 700;
  color: #212529;
}

.home-description {
  max-width: 650px;
  margin: 0 auto;
  color: #555;
  font-size: 1.1rem;
  line-height: 1.6;
}

button.btn-primary {
  background-color: #3da9c5;
  border: none;
}

button.btn-primary:hover {
  background-color: #2c8aa6;
}